html, body{
    background-color: #1A1A1D;
    color: #950740;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0;
    height: 100%;
}

.poj{
    width: 100%;
    min-height: 100%;
    position: relative;
}

header{
    padding: 40px 0;
    width: 100%;
    height: 100%;
}

.logo{
    width: 550px;
    height: 100%;
    margin: 0 auto 0 auto;
    font-size: 52px;
    font-weight : bold;
    text-align: center;
    border: 1px solid #C3073F;
}

.photo{
    width: 52px;
    text-align: center;
    margin-right: 20px;
}

.mainphoto{
    width: 500px;
    height: 100%;
    margin-left: 25%;
    
}

nav{
    width: 100%;
    height: 100%;
    padding: 8px 0;
    text-align: center;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main{
    width: 1000px;
    margin: 0 auto 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #C3073F;
    text-align: justify;
    height: 100%;
}

ol {
    padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol  a{
    color: #000000;
    text-decoration: none;
    display: block;
    height: 42px;
}

ol > li{
    float: left;
    width: 250px;
    height: 40px;
    border-right: 1px solid #C3073F;
    transition-duration: 250ms;
}

ol > li:first-child{
    border-left: 1px solid #C3073F; 

}

ol > li:hover{
    background-color: #C3073F;

}

ol > li:hover > a{
    color: #ffffff;
}

ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    transition-duration: 250ms;
    transform-origin:50% 0;
    transform:scaleY(0);
}

ol > li:hover > ul{
    transform:scaleY(1);
    visibility: visible;
    
}

ol > li > ul > li{
    width: 252px;
    height: 40px;
    background-color: #C3073F;
    position: relative;
    right: 1px;
    top: -4px;
    z-index: 1;
    border-top: 1px dashed #950740;
    transition-duration: 250ms
}

#last{
    height: 70px;
}

ol > li > ul > li:hover{
    background-color: rgb(230, 10, 76);
}

ol > li > ul > li:hover > a{
    color: #ffffff;
}

ol > li > ul > li > ol{
    display: none;
}

ol > li > ul > li > ul{
    transform:scaleY(0);
    transform-origin: 50% 0;
    list-style-type: none;
    margin: 0 0 0 100px;
    transition-duration: 250ms;
    
}

ol > li > ul > li:hover > ul{
    transform: scaleY(1);
    display: block;
}

ol > li > ul > li > ul > li:hover > a
{
    color: #ffffff;
}

ol > li > ul > li > ul > li{
    width: 250px;
    height: 40px;
    background-color: #C3073F;
    position: relative;
    right: -112px;
    top: -42px;
    z-index: 1;
}

ol > li > ul > li > ul > li:first-child{
    border-bottom: 1px dashed #950740;
}

ol > li > ul > li > ul > li:hover{
    background-color: rgb(230, 10, 76);
}

footer{
    background-color: #C3073F;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 20px;
}

.socials{
    width: 100%;
    background-color: rgb(23, 23, 26);
    height: 155px;
    text-align: center;
}

.socialdivs{
    width: 1000px;
    margin: 0 auto 0 auto;
    text-align: center;
    
}

.fb{
    width: 325px;
	height: 155px;
    float:left;
    transition-duration: 250ms;
}

.tw
{
    width: 325px;
	height: 155px;
    float:left;
    transition-duration: 250ms;
}

.gm{
    width: 325px;
	height: 155px;
    float:left;
    transition-duration: 250ms;

}

.fb:hover{
    background-color: #3b5998;
}

.gm:hover{
    background-color: #D44638;
}

.tw:hover{
    background-color: #1DA1F2;
}

a{
    text-decoration: none;
}